#root {
	overflow: hidden;
}
.head {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2rem 0;
	width: 100%;
	.head__logo-holder {
		max-width: 30%;
		display: flex;
		@include bp-med {
			max-width: 15%;
		}
		svg {
			width: 100%;

			#ship {
				transform-origin: 90% 60%;
				animation: shipBob 3s ease-in-out 0s infinite alternate;
				@keyframes shipBob {
					0% {
						transform: translateY(0) rotate(0deg);
					}
					100% {
						transform: translateY(-7%) rotate(-5deg);
					}
				}
				#streak1 {
					// animation: streakShots 1s ease-in-out 1s infinite alternate;
					// transform-origin: 50% 70%;
					// opacity: 0.9;
				}
				#streak2 {
					// animation: streakShots 1s ease-in-out 2s infinite alternate;
					// transform-origin: 100% 50%;
				}
				#streak3 {
					// animation: streakShots 1s ease-in-out 3s infinite alternate;
					// transform-origin: 100% 50%;
				}

				@keyframes streakShots {
					0% {
						transform: scaleX(0.75);
						// opacity: 0.9;
						// transform: translateX(0%);
					}
					100% {
						transform: scaleX(1.25);
						// opacity: 1;
						// transform: translateX(-100%);
					}
				}
			}
			#stars {
				#star {
					path {
						&:nth-child(1) {
							opacity: 0;
							animation: stars 5s ease-in-out 0s infinite;
						}
						&:nth-child(2) {
							opacity: 0;
							animation: stars 2s ease-in-out 0s infinite;
						}
						&:nth-child(3) {
							opacity: 0;
							animation: stars 6s ease-in-out 0s infinite;
						}
						&:nth-child(4) {
							opacity: 0;
							animation: stars 4s ease-in-out 0s infinite;
						}
						&:nth-child(5) {
							opacity: 0;
							animation: stars 3s ease-in-out 0s infinite;
						}
						&:nth-child(6) {
							opacity: 0;
							animation: stars 1s ease-in-out 0s infinite;
						}
					}
				}
				#star-2 {
					path {
						&:nth-child(1) {
							opacity: 0;
							animation: stars 6s ease-in-out 0s infinite;
						}
						&:nth-child(2) {
							opacity: 0;
							animation: stars 1s ease-in-out 0s infinite;
						}
						&:nth-child(3) {
							opacity: 0;
							animation: stars 4s ease-in-out 0s infinite;
						}
						&:nth-child(4) {
							opacity: 0;
							animation: stars 2s ease-in-out 0s infinite;
						}
						&:nth-child(5) {
							opacity: 0;
							animation: stars 3s ease-in-out 0s infinite;
						}
						&:nth-child(6) {
							opacity: 0;
							animation: stars 5s ease-in-out 0s infinite;
						}
					}
				}
				#star-3 {
					path {
						&:nth-child(1) {
							opacity: 0;
							animation: stars 6s ease-in-out 0s infinite;
						}
						&:nth-child(2) {
							opacity: 0;
							animation: stars 5s ease-in-out 0s infinite;
						}
						&:nth-child(3) {
							opacity: 0;
							animation: stars 4s ease-in-out 0s infinite;
						}
						&:nth-child(4) {
							opacity: 0;
							animation: stars 3s ease-in-out 0s infinite;
						}
						&:nth-child(5) {
							opacity: 0;
							animation: stars 2s ease-in-out 0s infinite;
						}
						&:nth-child(6) {
							opacity: 0;
							animation: stars 1s ease-in-out 0s infinite;
						}
					}
				}
				#star-4 {
					path {
						&:nth-child(1) {
							opacity: 0;
							animation: stars 4s ease-in-out 0s infinite;
						}
						&:nth-child(2) {
							opacity: 0;
							animation: stars 6s ease-in-out 0s infinite;
						}
						&:nth-child(3) {
							opacity: 0;
							animation: stars 2s ease-in-out 0s infinite;
						}
						&:nth-child(4) {
							opacity: 0;
							animation: stars 3s ease-in-out 0s infinite;
						}
						&:nth-child(5) {
							opacity: 0;
							animation: stars 5s ease-in-out 0s infinite;
						}
						&:nth-child(6) {
							opacity: 0;
							animation: stars 8s ease-in-out 0s infinite;
						}
					}
				}
				#star-5 {
					path {
						&:nth-child(1) {
							opacity: 0;
							animation: stars 6s ease-in-out 0s infinite;
						}
						&:nth-child(2) {
							opacity: 0;
							animation: stars 9s ease-in-out 0s infinite;
						}
						&:nth-child(3) {
							opacity: 0;
							animation: stars 5s ease-in-out 0s infinite;
						}
						&:nth-child(4) {
							opacity: 0;
							animation: stars 8s ease-in-out 0s infinite;
						}
						&:nth-child(5) {
							opacity: 0;
							animation: stars 7s ease-in-out 0s infinite;
						}
						&:nth-child(6) {
							opacity: 0;
							animation: stars 2s ease-in-out 0s infinite;
						}
					}
				}
				#star-6 {
					path {
						&:nth-child(1) {
							opacity: 0;
							animation: stars 4s ease-in-out 0s infinite;
						}
						&:nth-child(2) {
							opacity: 0;
							animation: stars 2s ease-in-out 0s infinite;
						}
						&:nth-child(3) {
							opacity: 0;
							animation: stars 6s ease-in-out 0s infinite;
						}
						&:nth-child(4) {
							opacity: 0;
							animation: stars 4s ease-in-out 0s infinite;
						}
						&:nth-child(5) {
							opacity: 0;
							animation: stars 7s ease-in-out 0s infinite;
						}
						&:nth-child(6) {
							opacity: 0;
							animation: stars 5s ease-in-out 0s infinite;
						}
					}
				}
				#star-7 {
					path {
						&:nth-child(1) {
							opacity: 0;
							animation: stars 7s ease-in-out 0s infinite;
						}
						&:nth-child(2) {
							opacity: 0;
							animation: stars 9s ease-in-out 0s infinite;
						}
						&:nth-child(3) {
							opacity: 0;
							animation: stars 4s ease-in-out 0s infinite;
						}
						&:nth-child(4) {
							opacity: 0;
							animation: stars 2.5s ease-in-out 0s infinite;
						}
						&:nth-child(5) {
							opacity: 0;
							animation: stars 2s ease-in-out 0s infinite;
						}
						&:nth-child(6) {
							opacity: 0;
							animation: stars 6s ease-in-out 0s infinite;
						}
					}
				}
				#star-8 {
					path {
						&:nth-child(1) {
							opacity: 0;
							animation: stars 3s ease-in-out 0s infinite;
						}
						&:nth-child(2) {
							opacity: 0;
							animation: stars 6s ease-in-out 0s infinite;
						}
						&:nth-child(3) {
							opacity: 0;
							animation: stars 9s ease-in-out 0s infinite;
						}
						&:nth-child(4) {
							opacity: 0;
							animation: stars 8s ease-in-out 0s infinite;
						}
						&:nth-child(5) {
							opacity: 0;
							animation: stars 4s ease-in-out 0s infinite;
						}
						&:nth-child(6) {
							opacity: 0;
							animation: stars 5s ease-in-out 0s infinite;
						}
					}
				}
				#star-9 {
					path {
						&:nth-child(1) {
							opacity: 0;
							animation: stars 6s ease-in-out 0s infinite;
						}
						&:nth-child(2) {
							opacity: 0;
							animation: stars 9s ease-in-out 0s infinite;
						}
						&:nth-child(3) {
							opacity: 0;
							animation: stars 7s ease-in-out 0s infinite;
						}
						&:nth-child(4) {
							opacity: 0;
							animation: stars 3s ease-in-out 0s infinite;
						}
						&:nth-child(5) {
							opacity: 0;
							animation: stars 2s ease-in-out 0s infinite;
						}
						&:nth-child(6) {
							opacity: 0;
							animation: stars 8s ease-in-out 0s infinite;
						}
					}
				}
				#star-10 {
					path {
						&:nth-child(1) {
							opacity: 0;
							animation: stars 8s ease-in-out 0s infinite;
						}
						&:nth-child(2) {
							opacity: 0;
							animation: stars 4s ease-in-out 0s infinite;
						}
						&:nth-child(3) {
							opacity: 0;
							animation: stars 5s ease-in-out 0s infinite;
						}
						&:nth-child(4) {
							opacity: 0;
							animation: stars 6s ease-in-out 0s infinite;
						}
						&:nth-child(5) {
							opacity: 0;
							animation: stars 7s ease-in-out 0s infinite;
						}
						&:nth-child(6) {
							opacity: 0;
							animation: stars 3s ease-in-out 0s infinite;
						}
					}
				}
				#star-11 {
					path {
						&:nth-child(1) {
							opacity: 0;
							animation: stars 6s ease-in-out 0s infinite;
						}
						&:nth-child(2) {
							opacity: 0;
							animation: stars 4s ease-in-out 0s infinite;
						}
						&:nth-child(3) {
							opacity: 0;
							animation: stars 7s ease-in-out 0s infinite;
						}
						&:nth-child(4) {
							opacity: 0;
							animation: stars 8s ease-in-out 0s infinite;
						}
						&:nth-child(5) {
							opacity: 0;
							animation: stars 3s ease-in-out 0s infinite;
						}
						&:nth-child(6) {
							opacity: 0;
							animation: stars 5s ease-in-out 0s infinite;
						}
					}
				}
				#star-12 {
					path {
						&:nth-child(1) {
							opacity: 0;
							animation: stars 3s ease-in-out 0s infinite;
						}
						&:nth-child(2) {
							opacity: 0;
							animation: stars 5s ease-in-out 0s infinite;
						}
						&:nth-child(3) {
							opacity: 0;
							animation: stars 9s ease-in-out 0s infinite;
						}
						&:nth-child(4) {
							opacity: 0;
							animation: stars 4s ease-in-out 0s infinite;
						}
						&:nth-child(5) {
							opacity: 0;
							animation: stars 2s ease-in-out 0s infinite;
						}
						&:nth-child(6) {
							opacity: 0;
							animation: stars 7s ease-in-out 0s infinite;
						}
					}
				}
				#star-13 {
					path {
						&:nth-child(1) {
							opacity: 0;
							animation: stars 2s ease-in-out 0s infinite;
						}
						&:nth-child(2) {
							opacity: 0;
							animation: stars 4s ease-in-out 0s infinite;
						}
						&:nth-child(3) {
							opacity: 0;
							animation: stars 5s ease-in-out 0s infinite;
						}
						&:nth-child(4) {
							opacity: 0;
							animation: stars 8s ease-in-out 0s infinite;
						}
						&:nth-child(5) {
							opacity: 0;
							animation: stars 3s ease-in-out 0s infinite;
						}
						&:nth-child(6) {
							opacity: 0;
							animation: stars 6s ease-in-out 0s infinite;
						}
					}
				}
				@keyframes stars {
					0% {
						opacity: 0;
					}
					50% {
						opacity: 1;
					}
					100% {
						opacity: 0;
					}
				}
			}
		}
	}
	.head__info {
		line-height: 3rem;
		margin-left: 1rem;
		width: 50%;
		@include bp-med {
			width: auto;
		}
		h1 {
			font-size: 2.8rem;
			@include bp-med {
				font-size: 3.2rem;
			}
		}
		span {
			font-size: 1.3rem;
			@include bp-med {
				font-size: 1.5rem;
			}
		}
	}
}
.menu__nav {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: space-between;
	.nav__header {
		font-family: asimovsans, sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 2rem;
	}
	nav {
		height: 20%;
		margin-bottom: 30%;
		ul {
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
			li:hover {
				color: #71d9f4;
			}
		}
	}
}
.menu__tab--open {
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	background: #171616;
	width: 1.5rem;
	height: 3rem;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	cursor: pointer;

	.menu__tab-line {
		height: 1.5rem;
		width: 1px;
		background-color: #71d9f4;
	}
	.menu__tab-line:first-child {
		margin-left: 1px;
	}
}
.menu__tab--close {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	background: #171616;
	width: 1.5rem;
	height: 3rem;
	left: 100%;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	.menu__tab-line {
		height: 1.5rem;
		width: 1px;
		background-color: #71d9f4;
	}
	.menu__tab-line:first-child {
		margin-left: 1px;
	}
}

.all-projects {
	display: flex;
	flex-direction: column;
	align-items: center;
	.project {
		display: flex;
		flex-direction: column;
		margin: 8rem 5rem;
		text-align: center;

		@include bp-med {
			flex-direction: row-reverse;
			text-align: unset;
			margin: 8rem 2rem;
		}
		@include bp-large {
			width: 70%;
		}
		.desktop-title {
			display: none;
			@include bp-med {
				display: block;
			}
		}
		.mobile-title {
			display: block;
			@include bp-med {
				display: none;
			}
		}

		.constellation-definer {
			display: flex;
			// opacity: 1;
			align-items: center;

			cursor: pointer;
			@include bp-med {
				animation: unset;
				cursor: unset;
				opacity: 1;
			}
			img {
				@include bp-med {
					transform: scale(1.25);
				}
			}
		}
		.project-info {
			display: none;
			@include bp-med {
				max-width: 50%;
				display: flex;
				flex-direction: column;
				align-content: flex-end;
				align-items: flex-start;
				justify-content: space-evenly;
				margin-right: 4rem;
				h2 {
					font-size: 2.5rem;
					margin-bottom: 1rem;
					text-align: right;
				}
				p {
					line-height: 1.7rem;
					font-size: 1.1rem;
					text-align: left;
					a {
						color: #71d9f4;
					}
				}
				span {
					// the technology used bit
					font-style: italic;
					// text-align: right;
					margin-top: 1rem;
					margin-bottom: 2rem;
					line-height: 1.5rem;
				}
				a {
					display: none;
					button {
						display: none;
					}
				}
			}
		}
		&.project--flipped {
			@include bp-med {
				flex-direction: row;
			}
			.project-info {
				display: none;
				@include bp-med {
					display: flex;
					align-items: flex-end;
					margin-right: 0rem;
					margin-left: 4rem;
					h2 {
						text-align: right;
					}
					p {
						text-align: right;
					}
					span {
						text-align: right;
					}
				}
			}
		}
		&:first-child {
			flex-direction: column;
			@include bp-med {
				flex-direction: row;
				justify-content: center;
				margin: 8rem 2rem 1rem 2rem;
			}

			.constellation-definer {
				width: unset;
				@include bp-med {
					// width: 50%;
					display: flex;
					// justify-content: flex-end;
					margin-right: 2rem;
				}
			}
			.project-info {
				max-width: unset;
				width: 50%;
				margin-right: unset;
				margin-left: unset;
				align-items: flex-start;
				margin-left: 2rem;

				p {
					text-align: left;
				}
				.lofi {
					display: inline;
				}

				.git {
					display: flex;
					position: relative;
					font-family: 'Titillium Web', sans-serif;
					font-weight: 600;
					color: white;
					font-size: 1.2rem;
					background-color: #71d9f4;
					border: none;
					width: 166px;
					height: 55px;
					align-items: center;
					justify-content: center;
					// -webkit-box-shadow: 0px 0px 10px 3px #71d9f4;
					// box-shadow: 0px 0px 10px 3px #71d9f4;
					cursor: pointer;
				}
				.git::after {
					content: '';
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					-webkit-box-shadow: 0px 0px 10px 3px #71d9f4;
					box-shadow: 0px 0px 10px 3px #71d9f4;
					@include bp-med {
						opacity: 0;
						animation: buttonInOut 2s linear infinite;
					}
				}

				button {
					display: none;
				}
			}
		}
	}
}

.modal-overlay {
	width: 100vw;
	height: 100vh;
	z-index: 5;
	// background-color: red;
	position: fixed;
	display: none;
	&.modal-overlay--show {
		display: block;
	}
}
.project-modal {
	background-color: rgba(#000, 0.75);
	left: 50%;
	min-width: 350px;
	// height: 81%;
	padding: 2rem;
	position: fixed;
	// opacity: 0;
	display: none;
	pointer-events: none;
	top: 50%;
	transform: translate3d(-50%, -30%, 0);
	transition: all 0.3s ease-in;
	z-index: 6;
	@include bp-med {
		min-width: 450px;
	}

	&.project-modal--show {
		// opacity: 1;
		display: flex;
		flex-direction: column;
		pointer-events: all;
		transform: translate3d(-50%, -50%, 0);
		.cls-butt-definer {
			// display: flex;
			// justify-content: flex-end;
			cursor: pointer;
			position: absolute;
			left: 85%;
			top: 8%;
		}
		.constellation-definer {
			display: flex;
			justify-content: center;
		}
		.project-info-modal {
			display: flex;
			flex-direction: column;

			margin: 0 14%;
			align-items: center;
			h2 {
				margin: 1rem 0;
			}
			textarea {
				font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
					'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
					'Droid Sans', 'Helvetica Neue', sans-serif;
				background-color: rgba(0, 0, 0, 0);
				border: none;
				color: white;
				text-align: left;
				font-size: 1.1rem;
				width: 100%;
				height: 10rem;
				margin: 1rem 0;
				line-height: 2rem;
				resize: none;
			}
			span {
				font-style: italic;
			}
			button {
				margin: 1rem 0;
			}
		}
	}
}

.about {
	display: flex;
	margin: 15rem auto;
	// width: 80%;
	justify-content: space-evenly;
	.about__pic {
		display: none;
		@include bp-med {
			display: flex;
			width: 30%;
			justify-content: center;
			align-items: center;
			img {
				width: 100%;
			}
		}
	}
	.about__info {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 60%;
		line-height: 4rem;
		h2 {
			font-size: 2rem;
			/* margin: 2rem; */
			width: 100%;
			text-align: left;
		}
		p {
			// margin: 2rem;
			line-height: 2.4rem;
		}
		.resume {
			display: flex;
			justify-content: space-between;
			width: 100%;

			align-self: flex-start;
			flex-direction: column;
			@include bp-med {
				flex-direction: row;
				align-items: center;
				justify-content: space-around;
			}
			h3 {
				font-size: 2rem;
			}
			.links {
				display: flex;
				flex-direction: column;

				justify-content: space-between;
				@include bp-med {
					width: 100%;
					flex-direction: row;
					justify-content: space-around;
				}
				a {
					margin: 1rem 0;
					display: flex;
					align-items: center;
					align-content: center;

					@include bp-med {
						width: 10rem;
						justify-content: center;
					}
					button {
						display: flex;
						align-items: center;
						flex-direction: column;
						justify-content: center;
						width: 100%;
						@include bp-med {
							// width: 50%;
						}
						span {
							font-size: 0.8rem;
						}
					}
				}
			}
		}
	}
}
.skills {
	background-image: url(../img/aurora.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 15rem;
	padding-bottom: 25rem;
	@include bp-med {
		padding-bottom: 35rem;
	}
	.expertise-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 2.5rem;
		@include bp-med {
			width: 70%;
		}

		h2 {
			font-size: 2rem;
			@include bp-med {
				margin: 4rem;
			}
		}
		.skills__expertise {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			width: 100%;
			.skills__definer {
				width: 15%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin: 9%;
				align-items: center;
				a {
					display: flex;
					justify-content: center;
				}
				@include bp-med {
					margin: 5%;
				}
			}
		}
	}
	.experience-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 2.5rem;
		@include bp-med {
			width: 70%;
			margin-top: 8.5rem;
		}

		h2 {
			font-size: 2rem;
			@include bp-med {
				margin: 4rem;
			}
		}
		.skills__experience {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			width: 100%;
			.skills__definer {
				width: 15%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin: 9%;
				align-items: center;
			}
		}
	}
}
footer {
	position: relative;
	// bottom: 100%;
	h2 {
		margin: 2rem;
	}
	.trees-container {
		width: 100vw;
		position: relative;
		bottom: -1px;
		// z-index: 1;
		transform: scale(1.5);
		img {
			width: 100%;
			position: absolute;
			bottom: 0;
		}
	}
	.contact-container {
		display: flex;
		background-color: black;
		display: flex;
		flex-direction: column;
		align-items: center;
		// z-index: 2;
		.contact-at {
			display: flex;
			// width: 50%;
			justify-content: space-around;
			div {
				width: 25%;
				a {
					img {
						width: 100%;
					}
				}
			}
		}
	}
	span {
		margin: 2rem;
	}
}
.project-page {
	.project-page__bak-btn {
		position: absolute;
		padding: 0.5rem;
		cursor: pointer;
	}
	.project-page__project {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;

		padding-top: 5rem;
		// @include bp-med {
		// 	padding-top: 1.9rem;
		// }
		h1 {
			text-align: center;
		}
		.project-page__project__i__needed__this__to__make__flex__work {
			display: flex;
			flex-direction: column;
			@include bp-med {
				flex-direction: row;
				margin: 5rem auto;
				width: 70%;
			}
			img {
				width: 100%;
				@include bp-med {
					// width: 55%;
				}
			}
			aside {
				margin: 0 1rem;
				@include bp-med {
					display: flex;
					// width: 45%;
					flex-direction: column;
					justify-content: center;
					min-width: 50%;
				}
				.project-page__project__description {
					line-height: 1.5rem;
					@include bp-med {
						line-height: 2rem;
					}
				}
				.links {
					display: flex;
					width: 100%;
					justify-content: space-between;
					a {
						width: 45%;
						button {
							margin: 1.5rem 0;
							@include bp-med {
								float: none;
							}
						}
					}
				}
			}
		}
		.project-page__project__pics {
			display: flex;
			flex-direction: column;
			justify-content: center;
			display: flex;
			justify-content: space-around;
			margin-bottom: 10rem;
			@include bp-med {
				flex-direction: row;
			}
			.project-page__project__pics-pic {
				width: 400px;
				height: 400px;
				background-color: black;
				margin-bottom: 5rem;
			}
		}
	}
}
canvas {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	margin: 0;
	z-index: -1;
}

// .wrap {
// 	height: 100%;
// 	width: 100%;
// }

//animation for zoom effect
.page-enter {
	opacity: 0;
	transform: scale3d(1, 1, 1);
	transform-origin: middle bottom;
}

.page-enter-active {
	opacity: 1;
	transform: scale3d(2, 2, 2);
	transition: opacity 1s, transform 1s;
}

.page-exit {
	opacity: 1;
	transform: scale3d(1, 1, 1);
}

.page-exit-active {
	opacity: 0;
	transform: scale3d(0, 0, 0);
	transition: opacity 1s, transform 1s;
}

.abi:hover {
	color: #71d9f4;
}

@keyframes constellationInOut {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 0.25;
	}
	20% {
		opacity: 0.5;
	}
	30% {
		opacity: 0.75;
	}
	40% {
		opacity: 1;
	}
	50% {
		opacity: 0.75;
	}
	60% {
		opacity: 0.5;
	}
	70% {
		opacity: 0.25;
	}
	80% {
		opacity: 0;
	}
}
.vid {
	display: flex;
	justify-content: center;
	iframe {
		width: 100%;
		height: 40rem;
		margin-bottom: 10rem;
	}
}
