#root {
	overflow: hidden;
}
.head {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2rem 0;
	width: 100%;
	.head__logo-holder {
		max-width: 30%;
		display: flex;
		@include bp-med {
			max-width: 15%;
		}
		svg {
			width: 100%;

			#ship {
				transform-origin: 90% 60%;
				animation: shipBob 3s ease-in-out 0s infinite alternate;
				@keyframes shipBob {
					0% {
						transform: translateY(0) rotate(0deg);
					}
					100% {
						transform: translateY(-7%) rotate(-5deg);
					}
				}


	
			}
			#stars {
				#star {
					path {
						&:nth-child(1) {
							opacity: 0;
							animation: stars 5s ease-in-out 0s infinite;
						}
						&:nth-child(2) {
							opacity: 0;
							animation: stars 2s ease-in-out 0s infinite;
						}
						&:nth-child(3) {
							opacity: 0;
							animation: stars 6s ease-in-out 0s infinite;
						}
						&:nth-child(4) {
							opacity: 0;
							animation: stars 4s ease-in-out 0s infinite;
						}
						&:nth-child(5) {
							opacity: 0;
							animation: stars 3s ease-in-out 0s infinite;
						}
						&:nth-child(6) {
							opacity: 0;
							animation: stars 1s ease-in-out 0s infinite;
						}
					}
				}
				#star-2 {
					path {
						&:nth-child(1) {
							opacity: 0;
							animation: stars 6s ease-in-out 0s infinite;
						}
						&:nth-child(2) {
							opacity: 0;
							animation: stars 1s ease-in-out 0s infinite;
						}
						&:nth-child(3) {
							opacity: 0;
							animation: stars 4s ease-in-out 0s infinite;
						}
						&:nth-child(4) {
							opacity: 0;
							animation: stars 2s ease-in-out 0s infinite;
						}
						&:nth-child(5) {
							opacity: 0;
							animation: stars 3s ease-in-out 0s infinite;
						}
						&:nth-child(6) {
							opacity: 0;
							animation: stars 5s ease-in-out 0s infinite;
						}
					}
				}
				#star-3 {
					path {
						&:nth-child(1) {
							opacity: 0;
							animation: stars 6s ease-in-out 0s infinite;
						}
						&:nth-child(2) {
							opacity: 0;
							animation: stars 5s ease-in-out 0s infinite;
						}
						&:nth-child(3) {
							opacity: 0;
							animation: stars 4s ease-in-out 0s infinite;
						}
						&:nth-child(4) {
							opacity: 0;
							animation: stars 3s ease-in-out 0s infinite;
						}
						&:nth-child(5) {
							opacity: 0;
							animation: stars 2s ease-in-out 0s infinite;
						}
						&:nth-child(6) {
							opacity: 0;
							animation: stars 1s ease-in-out 0s infinite;
						}
					}
				}
				#star-4 {
					path {
						&:nth-child(1) {
							opacity: 0;
							animation: stars 4s ease-in-out 0s infinite;
						}
						&:nth-child(2) {
							opacity: 0;
							animation: stars 6s ease-in-out 0s infinite;
						}
						&:nth-child(3) {
							opacity: 0;
							animation: stars 2s ease-in-out 0s infinite;
						}
						&:nth-child(4) {
							opacity: 0;
							animation: stars 3s ease-in-out 0s infinite;
						}
						&:nth-child(5) {
							opacity: 0;
							animation: stars 5s ease-in-out 0s infinite;
						}
						&:nth-child(6) {
							opacity: 0;
							animation: stars 8s ease-in-out 0s infinite;
						}
					}
				}
				#star-5 {
					path {
						&:nth-child(1) {
							opacity: 0;
							animation: stars 6s ease-in-out 0s infinite;
						}
						&:nth-child(2) {
							opacity: 0;
							animation: stars 9s ease-in-out 0s infinite;
						}
						&:nth-child(3) {
							opacity: 0;
							animation: stars 5s ease-in-out 0s infinite;
						}
						&:nth-child(4) {
							opacity: 0;
							animation: stars 8s ease-in-out 0s infinite;
						}
						&:nth-child(5) {
							opacity: 0;
							animation: stars 7s ease-in-out 0s infinite;
						}
						&:nth-child(6) {
							opacity: 0;
							animation: stars 2s ease-in-out 0s infinite;
						}
					}
				}
				#star-6 {
					path {
						&:nth-child(1) {
							opacity: 0;
							animation: stars 4s ease-in-out 0s infinite;
						}
						&:nth-child(2) {
							opacity: 0;
							animation: stars 2s ease-in-out 0s infinite;
						}
						&:nth-child(3) {
							opacity: 0;
							animation: stars 6s ease-in-out 0s infinite;
						}
						&:nth-child(4) {
							opacity: 0;
							animation: stars 4s ease-in-out 0s infinite;
						}
						&:nth-child(5) {
							opacity: 0;
							animation: stars 7s ease-in-out 0s infinite;
						}
						&:nth-child(6) {
							opacity: 0;
							animation: stars 5s ease-in-out 0s infinite;
						}
					}
				}
				#star-7 {
					path {
						&:nth-child(1) {
							opacity: 0;
							animation: stars 7s ease-in-out 0s infinite;
						}
						&:nth-child(2) {
							opacity: 0;
							animation: stars 9s ease-in-out 0s infinite;
						}
						&:nth-child(3) {
							opacity: 0;
							animation: stars 4s ease-in-out 0s infinite;
						}
						&:nth-child(4) {
							opacity: 0;
							animation: stars 2.5s ease-in-out 0s infinite;
						}
						&:nth-child(5) {
							opacity: 0;
							animation: stars 2s ease-in-out 0s infinite;
						}
						&:nth-child(6) {
							opacity: 0;
							animation: stars 6s ease-in-out 0s infinite;
						}
					}
				}
				#star-8 {
					path {
						&:nth-child(1) {
							opacity: 0;
							animation: stars 3s ease-in-out 0s infinite;
						}
						&:nth-child(2) {
							opacity: 0;
							animation: stars 6s ease-in-out 0s infinite;
						}
						&:nth-child(3) {
							opacity: 0;
							animation: stars 9s ease-in-out 0s infinite;
						}
						&:nth-child(4) {
							opacity: 0;
							animation: stars 8s ease-in-out 0s infinite;
						}
						&:nth-child(5) {
							opacity: 0;
							animation: stars 4s ease-in-out 0s infinite;
						}
						&:nth-child(6) {
							opacity: 0;
							animation: stars 5s ease-in-out 0s infinite;
						}
					}
				}
				#star-9 {
					path {
						&:nth-child(1) {
							opacity: 0;
							animation: stars 6s ease-in-out 0s infinite;
						}
						&:nth-child(2) {
							opacity: 0;
							animation: stars 9s ease-in-out 0s infinite;
						}
						&:nth-child(3) {
							opacity: 0;
							animation: stars 7s ease-in-out 0s infinite;
						}
						&:nth-child(4) {
							opacity: 0;
							animation: stars 3s ease-in-out 0s infinite;
						}
						&:nth-child(5) {
							opacity: 0;
							animation: stars 2s ease-in-out 0s infinite;
						}
						&:nth-child(6) {
							opacity: 0;
							animation: stars 8s ease-in-out 0s infinite;
						}
					}
				}
				#star-10 {
					path {
						&:nth-child(1) {
							opacity: 0;
							animation: stars 8s ease-in-out 0s infinite;
						}
						&:nth-child(2) {
							opacity: 0;
							animation: stars 4s ease-in-out 0s infinite;
						}
						&:nth-child(3) {
							opacity: 0;
							animation: stars 5s ease-in-out 0s infinite;
						}
						&:nth-child(4) {
							opacity: 0;
							animation: stars 6s ease-in-out 0s infinite;
						}
						&:nth-child(5) {
							opacity: 0;
							animation: stars 7s ease-in-out 0s infinite;
						}
						&:nth-child(6) {
							opacity: 0;
							animation: stars 3s ease-in-out 0s infinite;
						}
					}
				}
				#star-11 {
					path {
						&:nth-child(1) {
							opacity: 0;
							animation: stars 6s ease-in-out 0s infinite;
						}
						&:nth-child(2) {
							opacity: 0;
							animation: stars 4s ease-in-out 0s infinite;
						}
						&:nth-child(3) {
							opacity: 0;
							animation: stars 7s ease-in-out 0s infinite;
						}
						&:nth-child(4) {
							opacity: 0;
							animation: stars 8s ease-in-out 0s infinite;
						}
						&:nth-child(5) {
							opacity: 0;
							animation: stars 3s ease-in-out 0s infinite;
						}
						&:nth-child(6) {
							opacity: 0;
							animation: stars 5s ease-in-out 0s infinite;
						}
					}
				}
				#star-12 {
					path {
						&:nth-child(1) {
							opacity: 0;
							animation: stars 3s ease-in-out 0s infinite;
						}
						&:nth-child(2) {
							opacity: 0;
							animation: stars 5s ease-in-out 0s infinite;
						}
						&:nth-child(3) {
							opacity: 0;
							animation: stars 9s ease-in-out 0s infinite;
						}
						&:nth-child(4) {
							opacity: 0;
							animation: stars 4s ease-in-out 0s infinite;
						}
						&:nth-child(5) {
							opacity: 0;
							animation: stars 2s ease-in-out 0s infinite;
						}
						&:nth-child(6) {
							opacity: 0;
							animation: stars 7s ease-in-out 0s infinite;
						}
					}
				}
				#star-13 {
					path {
						&:nth-child(1) {
							opacity: 0;
							animation: stars 2s ease-in-out 0s infinite;
						}
						&:nth-child(2) {
							opacity: 0;
							animation: stars 4s ease-in-out 0s infinite;
						}
						&:nth-child(3) {
							opacity: 0;
							animation: stars 5s ease-in-out 0s infinite;
						}
						&:nth-child(4) {
							opacity: 0;
							animation: stars 8s ease-in-out 0s infinite;
						}
						&:nth-child(5) {
							opacity: 0;
							animation: stars 3s ease-in-out 0s infinite;
						}
						&:nth-child(6) {
							opacity: 0;
							animation: stars 6s ease-in-out 0s infinite;
						}
					}
				}
				@keyframes stars {
					0% {
						opacity: 0;
					}
					50% {
						opacity: 1;
					}
					100% {
						opacity: 0;
					}
				}
			}
		}
	}
	.head__info {
		@include bp-x{
			width: 50%;
			margin-left: 1rem;
		}
		@include bp-small{
			width: unset;
			line-height: 2.5rem;
		}
		
		@include bp-med {
			width: auto;
			line-height: 3rem;
		}
		h1 {
			font-size: 2.8rem;
			@include bp-med {
				font-size: 3.2rem;
			}
		}
		span {
			font-size: 1.3rem;
			@include bp-med {
				font-size: 1.5rem;
			}
		}
	}
}


canvas {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	margin: 0;
	z-index: -1;
}



